language: php
sudo: false

php:
  - 5.6
  - 7.2
  - 7.3
  - 7.4
  - nightly

env:
  global:
    - DEFAULT_COMPOSER_FLAGS="--no-interaction --no-suggest --prefer-source"
    - XDEBUG="false"

cache:
  directories:
  - ./vendor

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly

before_install:
  # determine INI file
  - export INI_DIR=~/.phpenv/versions/$(phpenv version-name)/etc/conf.d
  - export INI=$INI_DIR/travis.ini
  - if [[ "$XDEBUG" = 'false' && -f $INI_DIR/xdebug.ini ]]; then phpenv config-rm xdebug.ini; fi
  - travis_retry composer self-update
  - travis_retry composer clear-cache

install:
  - travis_retry composer install

before_script:
  - travis_retry composer install --dev
  - mkdir -p build/logs

script:
  - vendor/bin/phpunit

jobs:
  include:
    - stage: Code coverage analysis
      php: 7.2
      # don't disable xdebug here
      env: XDEBUG=true COVERAGE=true
      after_success:
        - travis_retry php vendor/bin/php-coveralls -v
    - stage: Code style analysis
      php: 7.2
      script:
        - vendor/bin/phpcs --runtime-set ignore_warnings_on_exit 1 --standard=phpcs.xml
    - stage: phpstan
      php: 7.2
      before_script:
        - travis_retry composer require --dev phpstan/phpstan
      script:
        - vendor/bin/phpstan analyse -l max Economic
